//- path
- var image_path = 'assets/images'
- var css_path = 'assets/css'
- var js_path = 'assets/js'
- var domain = 'https://example.com/'
- var source = 'https://github.com/shunyaendoh1215/markup-template'

//- config
-
  var config = {
  title: "Document",
  lang: "jp",
  author: "shunya endoh",
  }

//- navbar
-
  var pages = [
    {
      url : 'index.html',
      name : 'TOP',
      title : 'TOP',
      description : 'トップページです',
      keywords : 'トップページ',
      image : 'assets/images/'
    },
    {
      url : 'pages/content_a.html',
      name : 'PRODUCT',
      title : 'PRODUCT',
      description : '',
      keywords : '',
      image : 'assets/images/'
    },
    {
      url : 'pages/content_b.html',
      name : 'ABOUT',
      title : 'ABOUT',
      description : '',
      keywords : '',
      image : 'assets/images/'
    },
    {
      url : 'pages/content_c.html',
      name : 'NEWS',
      title : 'NEWS',
      description : '',
      keywords : '',
      image : 'assets/images/'
    },
    {
      url : 'pages/content_d.html',
      name : 'CONTACT',
      title : 'CONTACT',
      description : '',
      keywords : '',
      image : 'assets/images/'
    }
  ]