- var image_path = 'assets/images'
- var css_path = 'assets/css'
- var js_path = 'assets/js'
- var domain = 'https://example.com/'
- var content_d_state = "comingsoon"

-
  var config = {
  title: "Document",
  lang: "jp",
  isResetCss: true,
  }


-
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ',
      image : 'assets/images/ogp.jpg'
    },
    content_a : {
      url : 'pages/content_a.html',
      name : 'コンテントA',
      title : 'コンテントA',
      description : 'コンテントAです',
      keywords : 'コンテントA',
      image : 'assets/images/ogp.jpg'
    },
    content_b : {
      url : 'pages/content_b.html',
      name : 'コンテントB',
      title : 'コンテントB',
      description : 'コンテントBです',
      keywords : 'コンテントB',
      image : 'assets/images/ogp.jpg'
    },
    content_c : {
      url : 'pages/content_c.html',
      name : 'コンテントC',
      title : 'コンテントC',
      description : 'コンテントCです',
      keywords : 'コンテントC',
      image : 'assets/images/ogp.jpg'
    },
    content_d : {
      url : 'pages/content_d.html',
      name : 'コンテントD',
      title : 'コンテントD',
      description : 'コンテントDです',
      keywords : 'コンテントD',
      image : 'assets/images/ogp.jpg'
    }
  }