meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title #{config.title}
if config.isResetCss
  link(rel="stylesheet", href="assets/css/reset.css", attr)
link(rel="stylesheet", href="assets/css/style.css", attr)