include _config
doctype html
block vars
html(lang=`${config.lang}`)
  head
    include _head

  body(class=key)
    header.l-header
      //- for header absolute
      .l-header__abs
        include ../components/_header
    .l-contents
      block contents
    footer.l-footer
      include ../components/_footer