.c-footer
  p
  | &copy; 2020 |
  i.fa.fa-value(aria-hidden='true') &nbsp;
  a(href=`${source}`) View Source

//- Uncomment here if you would like to use js.
//- script(type='text/javascript' src=js_path+"/js/functions.js")