extends ./includes/_layout

block vars
  include ./includes/_config
  - var key = "top"
  - var page = pages[key]

block contents
  h2 #{page.title}
  .keyvisual_container
    p.keyvisual_image
      img(src=image_path+"/top/top_keyvisual.jpg", alt="")